<footer class="">
    <div class="container">
        <div class="info2">
            <h1>A Chau Catering</h1>
            <h3 class="website">www.AChauCatering.com</h3>
            <div class="row mt-4">
                <div class="col-md-3">
                    <h4>Liên hệ</h4>
                    <ul>
                        <li><i class="fa fa-address-book"></i> số 54-56, đường 44, quận Hoà Phú, Thủ Dầu Một, Bình Dương</li>
                        <li><i class="fa fa-phone"></i> 0901.47.40.48</li>
                        <li><i class="fa fa-envelope"></i> tinhnq@achaucatering.com</li>
                        <li><i class="fa fa-tv"></i> www.achaucatering.com</li>
                    </ul>
                </div>
                <!-- <p class="mt-5">Tel: 0901.47.40.48 | Email: </p> -->

                <div class="col-md-3">
                    <h4>Các Dịch Vụ</h4>
                    <ul>
                        <li>Quầy dịch vụ</li>
                        <li>Suất ăn công nghiệp</li>
                        <li>Chuỗi nhà thuốc</li> 
                        <li>Tổ chức sự kiện</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4>Mạng xã hội</h4>
                    <ul>
                        <li>Facebook</li>
                        <li>Zalo</li>
                        <li>Instagram</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4>Gallary</h4>
                    <div class="gallary">
                        <img class="sm-img" src="../../../assets/img/gallary/anh1.jpg">
                        <img class="sm-img" src="../../../assets/img/gallary/anh2.jpg">
                        <img class="sm-img" src="../../../assets/img/gallary/anh3.jpg">
                        <img class="sm-img" src="../../../assets/img/gallary/anh4.jpg">
                        <img class="sm-img" src="../../../assets/img/gallary/anh5.jpg">
                        <img class="sm-img" src="../../../assets/img/gallary/anh5.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="info"> -->
            <!-- <h3 class="mt-4">
                <a href="#"><i class="fa fa-facebook mr-2"></i></a>
                <a href=""><i class="fa fa-instagram mr-5"></i></a> Á Châu Catering
            </h3>
    
            <p>Tel: 0901.47.40.48 | Email:tinhnq@achaucatering.com</p> -->
    
            <div class="back-to-top mt-5">
                <a href="#"><i class="fa fa-chevron-up"></i><p class="mt-1 mb-5">Back to Top</p></a>
            </div>
        <!-- </div> -->

        <div id="map"></div>
        <!-- <div class="suat-an"></div> -->
        <img class="suat-an" src="../../../assets/footer-suatan.png" alt="suat an">
    </div>
</footer>