/* Cac dich vu*/
.dich-vu {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    /* background: #ddd; */
    background: url("../../../assets/gioi-thieu7.jpg") no-repeat center center;
    background-size: cover;
    padding: 100px;
}

.dich-vu .the {
    width: 280px;
    padding: 0 30px;
    height: 450px;
    margin: 0 20px;
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 6px #333;
}

.dich-vu .the p {
    margin-top: 30px;
    font-size: 13px;
}

.dich-vu .the a {
    color: gray;
    text-decoration: none;
    transition: 0.4s;
}

.dich-vu .the a:hover {
    color: #333;
}

.the-border-bottom {
    width: 60px;
    height: 8px;
    margin: auto;
    margin-top: 30px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

.see-more {
    position: relative;
    border-radius: 0;
    bottom: -50px;
    background: red;
    color: white !important;
    text-shadow: -1px -1px 1 gray;
}

.chuoi-nha-thuoc {
    
}

.xem-them {
    background: white;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    transition: 0.3s ease-in;
    padding: 5px;
}

.xem-them:hover {
    background: #333;
    color: white !important;
}