<div class="dich-vu">
    <div class="the suat-an">
      <img class="mt-4" src="../../../assets/the1.webp" alt="can tin">
      <h2  class="mt-1">Quầy<br>Dịch Vụ</h2>
      <div class="the-border-bottom"></div>
      <p>Cung cấp quầy dịch vụ bán nước, bánh, đồ ăn nhẹ cho khách hàng</p>
  
      <a class="xem-them" href="#">Xem thêm</a>
    </div>
  
    <div class="the can-tin">
      <img class="mt-4" src="../../../assets/the2.webp" alt="suat an">
      <h2 class="mt-1">Suất Ăn<br>Công Nghiệp</h2>
      <div class="the-border-bottom"></div>
      <p>Các phần ăn cho công ty, nhà máy với mục tiêu chất lượng, tươi sạch và giá cả hợp lý</p>
      <a class="xem-them" href="#">Xem thêm</a>
    </div>
  
    <div class="the nha-thuoc">
      <img class="mt-4" src="../../../assets/the3.webp" alt="nha thuoc">
      <h2  class="mt-1">Chuỗi<br>Nhà Thuốc</h2>
      <div class="the-border-bottom"></div>
      <p>Chuỗi nhà thuốc cung cấp thuốc và các dịch vụ về sức khoẻ</p>
      <a class="xem-them" href="#">Xem thêm</a>
    </div>
  </div>