.slider {
    padding: 50px 0 50px 0;
    background-image: url("../../../assets/gioi-thieu6.jpg");
    background-size: cover;
}

.slider h1 {
    font-family: 'Lobster';
}

.carousel {
    background: rgba(255, 255, 255, 0.8);
    width: 90%;
    margin: auto;
}

.slider-info {
    text-align: center;
}

.xem-them {
    text-decoration: none;
    background: white;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    transition: 0.3s ease-in;
    padding: 5px;
}

.xem-them:hover {
    background: #333;
    color: white !important;
}