<div class="row gioi-thieu">
  <div class="col-lg-6 left">
  </div>
  <div class="col-lg-6 right introduce-company">
    <h2>Á Châu Catering</h2>
    <div class="the-border-bottom">
    </div>
    <div class="info">
      <p class="ss">Á Châu Catering chuyên cung cấp Suất ăn công nghiệp tại TPHCM cho các nhà máy, xí nghiệp, các sự kiện, với nhiều năm hoạt động trong ngành. chúng tôi tự hào với đội ngũ nhân viên làm việc chuyên nghiệp, công hiến hết mình để được sự hài lòng của khách hàng.</p>

      <p class="mt-5">Tel: 0901.47.40.48 | Email: tinhnq@achaucatering.com</p>

    </div>

    <!-- Với mục tiêu chất lượng dịch vụ lên hàng đầu -->

  </div>
</div>