.gioi-thieu {
    /* display: flex;
    flex-flow: row wrap; */
}

.gioi-thieu h2 {
    font-family: 'Lobster';
    text-align: center;
    font-size: 45px;
    color: white;
}

.gioi-thieu p {
    font-size: 16px;
    line-height: 26px;
}

.ss::first-letter{
    color: white;
    font-size: 25px;
}

.left {
    height: 560px;
    background: url("../../../assets/a-chau-food.jpg") center center;
    background-size: cover;
}


.right {
    padding-top: 100px;
    background: url("../../../assets/wood_1.png");
    color: #a99c92;
}

.col-lg-6 {
    padding-right: 0;
}

.the-border-bottom {
    width: 60px;
    height: 8px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.info {
    width: 400px;
    margin: auto;
}
