<nav class="navbar navbar-expand-md navbar-light">
	<a class="navbar-brand" href="#"><img src="../../../assets/logo_cantin.gif" alt=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-4" id="nav1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quầy dịch vụ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Suất ăn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Chuỗi nhà thuốc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liên hệ</a>
      </li>
    </ul>

    <div class="social-icon">
    	<a href="#"><i class="fa fa-facebook mr-2"></i></a>
    	<a href=""><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</nav>