<div class="healthy-food">
  <h1>Chất Lượng Là Sự Quan Tâm Hàng Đầu</h1>


  <div class="row">
    <div class="col-md-4">
      <div class="info">
        <img src="../../../assets/icon1.png" alt="natural">
        <h3>100% nguyên liệu sạch</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus est nemo eveniet architecto aliquid vitae.</p>
      </div>

      <div class="info">
        <img src="../../../assets/icon2.png" alt="natural">
        <h3>Thực phẩm tươi sống</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus est nemo eveniet architecto aliquid vitae.</p>
      </div>

    </div>
    <div class="col-md-4 center">
      <img class="anh1" src="../../../assets/healthy-food.png" alt="healthy food" width="110%">
      <h3 class="center-info">Ngon <br>Bổ - Rẻ <br>An toàn</h3>
    </div>
    <div class="col-md-4">
      <div class="info">
        <img src="../../../assets/icon4.png" alt="natural">
        <h3>Có nguồn gốc rõ ràng</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus est nemo eveniet architecto aliquid vitae.</p>
      </div>

      <div class="info">
        <img src="../../../assets/icon3.png" alt="natural">
        <h3>Chất lượng tốt nhất</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus est nemo eveniet architecto aliquid vitae.</p>
      </div>
    </div>
  </div>
</div>