<div class="gioi-thieu">
  <div class="the suat-an">
    <h2 class="mt-1">Các Món Ăn Trong Menu</h2>
    <h4>A Sneak Peak of the <br>New Spring Menu</h4>
    <div class="the-border-bottom"></div>
    <p>Cung cấp quầy dịch vụ bán nước, bánh, đồ ăn nhẹ</p>
    <p>Peas with Mint and Rose Petals</p>
    <p>Grilled Corn with Herb Butter</p>
    <p>Falafel-Spiced Tomatoes on Whole Wheat Flatbread</p>
    <p>Primavera Risotto</p>
    <p>Farmer’s Market Quinoa Salad</p>
    <p>Sparkling Wine with Ginger Ale and Cherries</p>
    <a class="btn btn-info xem-menu mt-4" href="#">Xem Menu</a>
  </div>
</div> 